body {
  font-family: 'Times New Roman', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #d7cfc2;
}

.white { background-color: #f0d9b5; }

.black { background-color: #b58863; }

!important .chessboard { border-spacing: 1; border-collapse: collapse; }
            .chessboard th { padding: 0.5em; }
            .chessboard td { border: 1px solid black; padding: 0;} 
            .chessboard td { width: 1.5em; height: 1.5em; text-align: center;}
            .chessboard td { font-size: 3em; line-height: 0; }
            .chessboard tr th { border: none}
            .chessboard td:hover {background-color: white; color: #b58863;}
            .chessboard .neagră:hover::after {
              content: attr(data-name);
              position:absolute;
              bottom: 100;
              background-color: black;
              color: white;
              padding: 0.8%;
              border: 1px solid whitesmoke;
              border-width: 1px;
              border-radius: 6px;
              font-size: 14px;
              z-index: 1; 
              letter-spacing: 0.125em; }
            .chessboard .albă:hover::after {
              content: attr(data-name);
              position:absolute;
              bottom: 100;
              background-color: white;
              color: black;
              padding: 1%;
              border: 1px solid black;
              border-width: 1px;
              border-radius: 6px;
              font-size: 14px;
              z-index: 1; 
              letter-spacing: 0.125em; }
              


