body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* .chessboard {
  border-collapse: collapse;
  width: 480px; 
  height: 480px; 
  margin-top: 20px;
} */

/* .chessboard th, .chessboard td {
  width: 50px; 
  height: 50px; 
  text-align: center;
  font-size: 24px;
  border: 1px solid black;
} */

.label {
  font-weight: bold;
}

/* .center-content {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

!important .chessboard { border-spacing: 1; border-collapse: collapse; }
            .chessboard th { padding: .5em; }
            .chessboard td { border: 1px solid black;} 
            .chessboard td { width: 2em; height: 2em; text-align: center;}
            .chessboard td { font-size: 48px; line-height: 0; }
            .chessboard tr th { border: none }            
